
<h1>Pokemon Move and Information</h1>
<mat-list>
    <h2 mat-subheader>Information</h2>
    <mat-list-item>
      <mat-icon mat-list-icon>self_improvement</mat-icon>
      <h4 mat-line>{{pokemon.name}}</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>fitness_center</mat-icon>
        <h4 mat-line>{{pokemon.weight}}  hectograms</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>sports_basketball</mat-icon>
        <h4 mat-line>{{pokemon.height}} decimetres</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Move</h2>
    <div class="move-container">
    <mat-list-item class="move" *ngFor="let item of pokemon.moves">
      <mat-icon mat-list-icon>poll</mat-icon>
      <h4 mat-line>{{item.move.name}}</h4>
    </mat-list-item>
    </div>
    <mat-divider></mat-divider>
  </mat-list>
<h1>Evolution chain</h1>
<div class="container-cards" *ngIf="load"> 
    <app-card  *ngFor="let item of evoChain" [pokemonUrl]="item.url" [pokemonStar]="pokemon.name" (click)="goPokemonPage(item.name)"></app-card>
</div>