*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-form{
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field{
    width: 80%;
    margin-top: 25px;
}

.container{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-area{
    display: flex;
    width: 100%;
    justify-content: space-around;
}