@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    background: #333;
    line-height: 1.5;
    font-family: "Caveat", cursive;
  }


.mat-drawer-container {
  background: #333;
}

html, body, main{
  height: 100%;
}
